.web-works {
    margin-bottom: 55vh;
}

.marquee-projects {
    white-space: nowrap;
    height: 100%;
    margin-top: -11%;
}

.marquee-proj {
   z-index: 0!important;
}

.marquee-proj span {
    -webkit-text-stroke: 1.5px white;
    color: transparent;
    font-size: 7vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.title-outline {
    -webkit-text-stroke: 0!important;
    color: #B18E85!important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.projects {
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    text-align: center;
}

.dreamspace {
    border-radius: 5px;
}

.mbm-vid {
    border-radius: 5px;
}

/* HOVER GROW EFFECT START */
.grow {
    transition: all 0.4s ease-in-out;
}
  
.grow:hover {
    transform: scale(1.1);
}
/* HOVER GROW EFFECT END */