.projects-cont {
	min-height: 100vh;
	overflow: wrap;
}

.marquee-projects-cont {
	white-space: nowrap;
	height: 100%;
}

.marquee-project span {
	-webkit-text-stroke: 1.5px #B18E85!important;
	color: transparent;
	font-size: 15vh;
	font-family: 'MonkegRegular', sans-serif;
	letter-spacing: 3px;
	word-spacing: 2vh;
}

.title-outline {
	-webkit-text-stroke: 0!important;
	color: #B18E85!important;
	font-family: 'MonkegRegular', sans-serif;
	font-weight: 700;
}

.dreamspace {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.mbm-vid {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.featured {
	text-align: center;
}

.featured h3 {
	font-family: 'MonkegRegular', sans-serif;
	font-size: 4.5em;
	margin-top: 1%;
}

.more {
	margin-top: -2%;
	text-align: center;
}

.more p {
	font-size: 0.7em;
	letter-spacing: 0.2em;
}

.gitdiv {
	display: inline-block;
	color: #B18E85!important;
	cursor: default!important;
	letter-spacing: 0!important;
}

.flex-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	min-height: 30vw;
}

.card {
	height: 380px;
	background-color: rgb(188, 169, 169);
	border-radius: 5px;
	margin: 15px;
	flex: 0 0 100px;
	overflow: visible!important;
}

.info-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px;
  width: 95%;
  margin: 0 auto;
}

.project-name {
  font-size: 1.5vh;
  justify-self: flex-start;
}

/* MEDIA QUERIES */
/* TABLETS */
@media screen and (max-width: 768px) {
	.flex-cont {
		margin: 0 5%;
	}

	.card {
		flex: 100%;
    max-width: 85%;
		height: auto;
		justify-content: center;
		margin-bottom: 3%;
	}

	.mbm-vid {
		width: 100.2%;
		justify-self: center;
	}

	.dreamspace {
		width: 100%;
		justify-self: center;
		height: auto;
	}

	.info-cont  {
		padding-bottom: 3%;
	}
}

/* PHONES */
@media screen and (max-width: 480px) {
	.flex-cont {
		margin: 0 5%;
	}

	.card {
		flex: 100%;
    max-width: 100%;
		height: auto;
		justify-content: center;
	}

	.mbm-vid {
		width: 100.2%;
		justify-self: center;
	}

	.dreamspace {
		width: 100%;
		justify-self: center;
		height: auto;
	}

	.info-cont  {
		padding-bottom: 5%;
	}
}
