.container {
  min-height: 100vh;
  position: relative;
}

.main-page {
  padding: 6vh 10vw 0 10vw;
  min-width: 100vw;
}

.main-page h3 {
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 2px;
  word-spacing: 1px;
  cursor: pointer;
}

.main-page h1 {
  text-align: center;
  font-family: 'MonkegRegular', sans-serif;
  -webkit-text-stroke: 1.5px rgb(254, 189, 200, 0.7);
  color: white;
  font-size: 4em;
  word-spacing: -10px;
  line-height: 1em;
  margin-top: 6%;
}

.arrowdiv {
	display: inline-block;
	cursor: pointer;
}

.wrapper {
  padding: 5vh 10vw;
  min-width: 40vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  /* opacity for Firefox users */
  opacity: 1;
  color: rgb(112, 86, 86);
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
}

input[type=text], input[type=email] {
  min-width: 100%;
  height: 6vh;
}

textarea {
  min-width: 100%;
  min-height: 27vh;
  resize: none;
}

input, textarea {
  margin: 1em 0;
  font-size: 1em;
  padding: 10px 15px;
  background-color: inherit;
  border: none;
  border-bottom: 0.1px solid pink;
  outline: none;
}

input:focus, textarea:focus {
  background-color: rgb(249, 229, 232, 0.1);
}

input[type=submit] {
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
  border-bottom: none;
  background-color: rgb(254, 189, 200, 0.7);
  padding: 13px 18px;
  margin: 5% 0 5% 0;
  width: 100%;
}

/* M O D A L */
.fade-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.modal {
  max-width: 410px;
  margin: 0 auto;
  padding: 40px 20px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  text-align: center;
}

.modal h5 {
  margin-top: 1%;
  font-size: 1.2em;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 200;
  color: rgb(135, 134, 134);
}

.modal h6 {
  font-size: 0.95em;
  letter-spacing: 1px;
  color: rgb(135, 134, 134);
}

.modal p {
  margin-top: 3%;
  padding: 0 25px;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  color: rgb(135, 134, 134);
}

.modal button {
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 25px;
  background-color: rgb(254, 189, 200, 0.7);
  padding: 12px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 30px 0 rgba(119, 108, 108, 0.2), 0 5px 10px 0 rgba(119, 108, 108, 0.1);
}

/* MEDIA QUERIES */
/* TABLETS */
/* iPad Mini, iPad  */
@media screen and (max-width: 768px) {
  .main-page h1 {
    word-spacing: 0;
    letter-spacing: 1px;
    line-height: 2em;
    margin-top: 13%;
  }
  
  .wrapper {
    padding: 2vh 10vw;
  }
  
  .modal {
    margin-top: -3%;
  }

  textarea {
    min-height: 30vh;
  }

  input[type=submit] {
    margin: 8% 0 5% 0;
  }
}

/* Screen that are both smaller than 1200px & larger than 768px */
/* iPad Pros, iPad Air, Surface Pro 7,   */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .main-page h3 {
    line-height: 1.2em;
    font-size: 1em;
    letter-spacing: 1.5px;
  }

  .arrowdiv {
    position: absolute;
    top: 6%;
    left: 8.5%;
  }

  .main-page h1 {
    word-spacing: 1px;
    letter-spacing: 2px;
    line-height: 2em;
    margin-top: 16%;
  }

  .modal {
    margin-top: 3%;
    max-width: 420px;
    padding: 50px 30px;
  }  

  .modal h5 {
    font-size: 1.3em;
  }

  .modal h6 {
    font-size: 1em;
  }

  .modal p {
    margin-top: 4%;
    font-size: 0.9em;
  }

  .modal button {
    font-size: 13px;
    margin-top: 33px;
  }
}

/* PHONES */
/* iPhone 6/7/8, SE, XR, X, 12 Pro, Pixel, Samsung Galaxies  */
@media screen and (max-width: 480px) {
  .main-page h3 {
    line-height: 1.2em;
  }

  .arrowdiv {
    position: absolute;
    top: 6%;
    left: 7.5%;
  }

  .main-page h1 {
    font-size: 2.5em;
    word-spacing: 0;
    letter-spacing: 1px;
    line-height: 2em;
    margin-top: 15%;
  }

  .wrapper {
    padding: 2vh 10vw;
  }

  ::placeholder {
    font-size: 1em;
  }

  input, textarea {
    font-size: 0.9em;
  }

  input[type=submit] {
    margin: 10% 0 5% 0;
  }

  .modal {
    max-width: 330px;
    padding: 25px 20px;
  }

  .modal h5 {
    font-size: 1em;
  }

  .modal h6 {
    font-size: 0.7em;
  }

  .modal p {
    font-size: 0.6em;
  }

  .modal button {
    font-size: 9px;
  }
}