.expertise {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.expertise h1 {
  font-family: 'MonkegRegular', sans-serif;
}

.items {
  margin: 6%;
}

.title {
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
}

.text {
  font-size: 0.9vw;
  line-height: 3.5em;
  cursor: default;
}


/* MEDIA QUERIES */
/* PHONES */
@media screen and (max-width: 480px) {
  .expertise {
    display: block;
    height: 60vh;
    text-align: center;
    margin-top: 200px;
    width: 100%;
  }

  .expertise-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 5vw;
    letter-spacing: 1vw;
  }

  .text {
    margin-top: 50px;
    font-size: 2.6vw;
    line-height: 2em;
    cursor: default;
  }

  .expertiselist1 {
    letter-spacing: 13.6px;
    word-spacing: 15px;
    margin-left: 10px;
  }

  .expertiselist2 {
    letter-spacing: 4.5px;
    word-spacing: 9px;
  }

  .expertiselist3 {
    letter-spacing: 9px;
    word-spacing: 9px;
    margin-left: 5px;
  }

  .expertiselist4 {
    letter-spacing: 7.5px;
    word-spacing: 9px;
    margin-left: 2px;
  }

  .expertiselist5 {
    letter-spacing: 3.3px;
    word-spacing: 4px;
  }
  
  .expertiselist6 {
    letter-spacing: 5.8px;
    word-spacing: 5px;
    margin-left: 1px;
  }

  .expertiselist7 {
    letter-spacing: 6.5px;
    word-spacing: 8px;
    margin-left: 1px;
  }
}