.expertise-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}

.expertise {
  min-width: 80vw;
  text-align: center;
}

.expertise h1 {
  font-family: 'MonkegRegular', sans-serif;
}

.titleText {
  font-family: 'MonkegRegular', sans-serif;
  -webkit-text-stroke: 1.5px rgb(254, 189, 200, 0.8);
  color: white;
  font-size: 2.1em!important;
  letter-spacing: 0.4em;
  line-height: 0 2em;
}

.text {
  font-size: 0.9em!important;
  line-height: 3em;
  cursor: default;
  margin-left: 0.3em;
} 

.expertiselist1 {
  letter-spacing: 1.5em;
  word-spacing: 1.65em;
  margin-left: 0.5em;
}

.expertiselist2 {
  letter-spacing: 0.72em;
  word-spacing: 1em;
  margin-left: -0.25em;
}

.expertiselist3 {
  letter-spacing: 1em;
  word-spacing: 2em;
  margin-left: 0.2em;
}

.expertiselist4 {
  letter-spacing: 1em;
  word-spacing: 0.3em;
}

.expertiselist5 {
  letter-spacing: 0.6em;
  word-spacing: 0.2em;
  margin-left: -0.3em;
}

.expertiselist6 {
  letter-spacing: 0.8em;
  word-spacing: 0.4em;
  margin-left: -0.18em;
}

.expertiselist7 {
  letter-spacing: 0.9em;
  word-spacing: 0.8em;
}

/* MEDIA QUERIES */
/* TABLETS */
@media screen and (min-width: 768px) {
  .titleText {
    font-size: 3.5vw;
    /* margin-left: 1.5%; */
  }

  .text {
    font-size: 1.3vw;
    line-height: 3em;
    cursor: default;
  } 
}

/* PHONES */
@media screen and (max-width: 480px) {
  .expertise {
    display: block;
    height: 60vh;
    text-align: center;
    margin-top: 200px;
    width: 100%;
  }

  .expertise-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 5vw;
    letter-spacing: 1vw;
  }

  .text {
    margin-top: 50px;
    font-size: 2.6vw;
    line-height: 2em;
  }

  .expertiselist1 {
    letter-spacing: 13.6px;
    word-spacing: 15px;
    margin-left: 10px;
  }

  .expertiselist2 {
    letter-spacing: 4.5px;
    word-spacing: 10px;
    margin-left: -1px;
  }

  .expertiselist3 {
    letter-spacing: 9px;
    word-spacing: 9px;
    margin-left: 5px;
  }

  .expertiselist4 {
    letter-spacing: 7.5px;
    word-spacing: 9px;
    margin-left: 2px;
  }

  .expertiselist5 {
    letter-spacing: 3.3px;
    word-spacing: 4px;
    margin-left: -1px;
  }
  
  .expertiselist6 {
    letter-spacing: 5.8px;
    word-spacing: 5px;
    margin-left: 1px;
  }

  .expertiselist7 {
    letter-spacing: 6.5px;
    word-spacing: 8px;
    margin-left: 1px;
  }
}