.expertise-cont {
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.expertise {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.expertise h1 {
  font-family: 'MonkegRegular', sans-serif;
}

.items {
  margin: 6%;
}

.title {
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
}

.text {
  font-size: 0.9vw;
  line-height: 3.5em;
  cursor: default;
}

/* .swirl-cont {
  display: flex;
  justify-content: center;
}

.swirl-cont img {
  width: 20vw;
  opacity: 0.03;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .swirl {
    animation: swirl-spin infinite 15s linear;
  }
}

@keyframes swirl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */