.home-cont {
	max-height: 100vh;
	position: relative;
	overflow: hidden;
}

.object-cont img {
	object-fit: contain;
	position: absolute;
	max-width: 65%;
	z-index: 0;
	margin-top: 5%;
	left: 2.5em;
}

.statue-cont img {
	object-fit: contain;
	object-position: top center;
	position: relative;
	max-width: 43%;
	left: 15%;
	margin-top: 3%;
	z-index: 1!important;
}

.luminaire {
	position: relative;
	bottom: -30vw;
	left: 54vw;
	width: 0.1vw;
	height: 0.1vw;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 0 5vw 5vw rgb(252, 252, 252), 0 0 10vw 6vw rgb(108, 62, 234);
	transition: box-shadow 4s ease-out;
	animation: spin 16s linear infinite;
	z-index: 1;
}
  
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.intro {
	position: absolute;
	right: 8vw;
	top: 18%;
}

.intro h5 {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.about1 {
	letter-spacing: 0.2em;
	word-spacing: 0.21em;
}

.about2 {
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
}

.about3 {
	letter-spacing: 0.2em;
	word-spacing: 0.44em;
}

.about4 {
	letter-spacing: 0.3em;
	word-spacing: 0.87em;
}

.about5 {
	letter-spacing: 0.2em;
	word-spacing: 0.6em;
	margin-left: -0.1em;
}

.intro h3 {
	font-size: 1.3rem;
	line-height: 1.2rem;
	color: #4351B8;
	overflow: visible!important;
	letter-spacing: 0.1em;
	word-spacing: 0.55em;
}

.globe {
	animation: bouncey 0.8s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
}

@keyframes bouncey {
	from {
		transform: translate3d(0, -5px, 0);
	}
	to {
		transform: translate3d(0, 3px, 0);
	}
}

.marquee-cont {
	white-space: nowrap;
	height: 100%;
	margin-top: -13%;
}

.marquee {
  z-index: 0!important;
}

.marquee span {
	font-size: 11vw;
	text-transform: uppercase;
	-webkit-text-stroke: 1.5px white;
	color: transparent;
	font-family: 'MonkegRegular', sans-serif;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

																/* MEDIA QUERIES */ 
/* iPad Pro 12.9" ( Portrait & Landscape ) */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.home-cont {
		margin-top: -5%;
		height: 100vh;
	}

	.intro {
		top: 6%;
		right: 0;
		left: 0;
		width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.intro h5 {
		font-size: 1.3em;
	}

	.intro h3 {
		margin-top: 1%;
		font-size: 1.4em;
		line-height: 1.5rem;
	}

	.object-cont img {
		max-width: 100%;
		left: 0;
		bottom: 12.3%;
	}

	.statue-cont img {
		object-fit: contain;
		object-position: top center;
		position: relative;
		max-width: 75%;
		left: 15%;
		margin-top: 30.8%;
	}

	.luminaire {
		bottom: -82.5vw;
		left: 81.5vw;
		width: 0.01vw;
		height: 0.01vw;
		box-shadow: 0 0 6em 8em rgb(252, 252, 252), 0 0 8em 10em rgb(148, 111, 248);
	}

	.marquee-cont {
		margin-top: -18%;
	}

	.marquee {
		z-index: 5!important;
	}

	.marquee span {
		font-size: 10em;
		letter-spacing: -6px;
		word-spacing: 0.2em;
		-webkit-text-stroke: 1.3px #271916;
		color: white;
	}
}

/* iPad Pro 10.5" */
/* @media (max-width: 834px) {
}  */

/* iPad 1, 2, 3, 4, Mini & Air, Pro 9.7" */
@media screen and (max-width: 768px) {
	.home-cont {
		margin-top: -5.5%;
		height: 100vh;
	}

	.intro {
		top: 4%;
		right: 0;
		left: 0;
		width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.intro h5 {
		font-size: 1.2em;
	}

	.intro h3 {
		font-size: 1.3em;
	}

	.object-cont img {
		max-width: 100%;
		left: 0;
		bottom: 5.8%;
	}

	.statue-cont img {
		object-fit: contain;
		object-position: top center;
		position: relative;
		max-width: 75%;
		left: 15%;
		margin-top: 31.3%;
	}

	.luminaire {
		bottom: -82.5vw;
		left: 81.5vw;
		width: 0.01vw;
		height: 0.01vw;
		box-shadow: 0 0 5em 6em rgb(252, 252, 252), 0 0 6em 8em rgb(148, 111, 248);
	}

	.marquee-cont {
		margin-top: -18%;
	}

	.marquee {
		z-index: 5!important;
	}

	.marquee span {
		font-size: 7.5em;
		letter-spacing: -6px;
		word-spacing: 0.2em;
		-webkit-text-stroke: 1.3px #271916;
		color: white;
	}
}

/* iPhone Large Screen */
@media (max-width: 480px) {
	.home-cont {
		margin-top: -5.5%;
		/* min-height: 100vh; */
	}
	
	.intro {
		top: 6%;
		right: 0;
		min-width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.intro h5 {
		font-size: 0.8em;
		line-height: 1rem;
	}

	.intro h3 {
		font-size: 0.86em;
		line-height: 2em;
	}

	.object-cont img {
		max-width: 130%;
		bottom: 12.5em;
		margin-top: 0;
		left: -40%;
	}

	.statue-cont img {
		object-fit: contain;
		object-position: top center;
		position: relative;
		max-width: 90%;
		left: 0.4em;
		margin-top: 13em;
	}

	.luminaire {
		top: 27em;
		left: 20.5em;
		width: 0.01vw;
		height: 0.01vw;
		box-shadow: 0 0 2em 3.5em rgb(252, 252, 252), 0 0 5em 4em rgb(148, 111, 248);
	}

	.marquee-cont {
		margin-top: -4.75em;
		width: 87%;
	}

	.marquee span {
		font-size: 4em;
		letter-spacing: -6px;
		word-spacing: 0.5vh;
		-webkit-text-stroke: 1px #271916;
		color: white;
	}

	.marquee {
		z-index: 5!important;
	}
} 

/* iPhone Reg Screen */
@media (max-width: 375px) {
	.luminaire {
		top: 25.5em;
		left: 18.5em;
		box-shadow: 0 0 2em 3em rgb(252, 252, 252), 0 0 5em 4em rgb(148, 111, 248);
	}
}