.home-cont {
    max-height: 100vh;
    position: relative;
}

.object-cont img {
    object-fit: contain;
    position: absolute;
    max-width: 70%;
    z-index: 0;
    margin-top: 1.5%;
}

.statue-cont img {
    object-fit: contain;
    object-position: top center;
    position: relative;
    max-width: 43%;
    left: 19%;
    margin-top: 3%;
    z-index: 1;
}

.intro {
    position: absolute;
    right: 3.5%;
    top: 18%;
}

.intro p {
    font-size: 1.5vw;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.intro h3 {
    font-size: 1.2vw;
    line-height: 1.1;
    color: #4351B8;
}

.globe {
    animation: bouncey 0.8s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bouncey {
    from {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translate3d(0, 3px, 0);
    }
}

.marquee-cont {
    white-space: nowrap;
    height: 100%;
    margin-top: -11%;
}

.marquee {
   z-index: 0!important;
}

.marquee span {
    font-size: 10vw;
    text-transform: uppercase;
}

/* FADE IN ANIMATION STARTS */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translate(0);
    }
  
    100% {
      opacity: 1;
    }
}
.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    /* without this once the elements appear ( fadeIn ) they will go away this makes sure the end state stays the same */
    animation-fill-mode: forwards;
}
/* FADE IN ANIMATION ENDS */

/* SHAKE ON HOVER EFFECT STARTS */
/* SHAKING OBJECT TWEAKING POSITION */
/* .statue-img {
    transform: translate(-3px, -3px);
} */

/* SHAKING OBJECT ANIMATE ON HOVER */
/* @keyframes shake-statue-img {
    0% { transform: translate(-8px, -14px); }
    33% { transform: translate(-10px, -14px); }
    66% { transform: translate(-10px, -16px); }
    100% { transform: translate(-8px, -16px); }
}

.statue-cont:hover {
    animation: shake-statue-img .5s infinite alternate;
} */
/* SHAKE ON HOVER EFFECT ENDS */