.home-cont {
	max-height: 100vh;
	position: relative;
	overflow: hidden;
}

.object-cont img {
	object-fit: contain;
	position: absolute;
	max-width: 65%;
	z-index: 0;
	margin-top: 5%;
}

.statue-cont img {
	object-fit: contain;
	object-position: top center;
	position: relative;
	max-width: 43%;
	left: 15%;
	margin-top: 3%;
	z-index: 1!important;
}

.luminaire {
	position: relative;
	bottom: -30vw;
	left: 54vw;
	width: 0.1vw;
	height: 0.1vw;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: 0 0 5vw 5vw rgb(252, 252, 252), 0 0 10vw 6vw rgb(108, 62, 234);
	transition: box-shadow 4s ease-out;
	animation: spin 16s linear infinite;
	z-index: 1;
}
  
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.intro {
	position: absolute;
	right: 8vw;
	top: 18%;
}

.intro h5 {
	font-size: 1.1vw;
	line-height: 1.2em;
}

.about1 {
	letter-spacing: 0.2em;
	word-spacing: 0.21em;
}

.about2 {
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
}

.about3 {
	letter-spacing: 0.2em;
	word-spacing: 0.44em;
}

.about4 {
	letter-spacing: 0.3em;
	word-spacing: 0.87em;
}

.about5 {
	letter-spacing: 0.2em;
	word-spacing: 0.6em;
}

.intro h3 {
	font-size: 1.2vw;
	line-height: 1.2em;
	color: #4351B8;
	overflow: visible!important;
	letter-spacing: 0.1em;
	word-spacing: 0.55em;
}

.globe {
	animation: bouncey 0.8s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
}

@keyframes bouncey {
	from {
		transform: translate3d(0, -5px, 0);
	}
	to {
		transform: translate3d(0, 3px, 0);
	}
}

.marquee-cont {
	white-space: nowrap;
	height: 100%;
	margin-top: -13%;
}

.marquee {
  z-index: 0!important;
}

.marquee span {
	font-size: 11vw;
	text-transform: uppercase;
	-webkit-text-stroke: 1.5px white;
	color: transparent;
	font-family: 'MonkegRegular', sans-serif;
	letter-spacing: 2px;
	word-spacing: 1vh;
}

/* FADE IN ANIMATION STARTS */
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	50% {
		transform: translate(0);
	}

	100% {
		opacity: 1;
	}
}

.appear {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-delay: 2s;
	/* without this once the elements appear ( fadeIn ) they will go away this makes sure the end state stays the same */
	animation-fill-mode: forwards;
}

/* MEDIA QUERIES */
/* TABLETS */
@media screen and (max-width: 768px) {
	.intro {
		top: 5%;
		right: 0;
		width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.intro p {
		font-size: 2.7vw;
	}

	.intro h3 {
		font-size: 2.7vw;
	}

	.object-cont img {
		max-width: 110%;
		right: 15%;
		bottom: 5.5%;
	}

	.statue-cont img {
		object-fit: contain;
		object-position: top center;
		position: relative;
		max-width: 75%;
		left: 4%;
		margin-top: 30.6%;
	}

	.luminaire {
		bottom: -77vw;
		left: 71vw;
		width: 0.01vw;
		height: 0.01vw;
		box-shadow: 0 0 7vw 8vw rgb(252, 252, 252), 0 0 15vw 11vw rgb(148, 111, 248);
	}

	.marquee-cont {
		margin-top: -15.5%;
	}

	.marquee span {
		font-size: 13vw;
	}
}

/* PHONES */
@media screen and (max-width: 480px) {
	.home-cont {
		margin-top: 30%;
		overflow: visible!important;
	}
	
	.intro {
		top: -10px;
		right: 0;
		width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.intro p {
		font-size: 3vw;
	}

	.intro h3 {
		font-size: 3vw;
	}

	.object-cont img {
		max-width: 140%;
		right: 11%;
		bottom: 5%;
	}

	.statue-cont img {
		object-fit: contain;
		object-position: top center;
		position: relative;
		max-width: 100%;
		left: -1%;
		margin-top: 40.6%;
	}

	.luminaire {
		bottom: -105vw;
		left: 84vw;
		width: 0.01vw;
		height: 0.01vw;
		box-shadow: 0 0 7vw 8vw rgb(252, 252, 252), 0 0 15vw 11vw rgb(148, 111, 248);
	}

	.marquee-cont {
		margin-top: -18.5%;
		width: 85.6%;
	}

	.marquee span {
		font-size: 4em;
		letter-spacing: -6px;
		word-spacing: 0.5vh;
		-webkit-text-stroke: 1px #271916;
		color: white;
	}

	.marquee {
		z-index: 5!important;
	}
}

