.navbar {
	height: 100px;
}

/* Smaller devices Name */
.sm-name {
	display: none;
}
.sm-name p {
	font-family: 'MonkegRegular', sans-serif;
	font-size: 2.5rem;
	margin: auto;
	padding: 10px;
	min-width: 100%;
	text-align: center;
	line-height: 0.8em;
	overflow: visible!important;
}

.logo-cont {
	display: flex;
	justify-content: space-between;
}

.name {
	color: white;
	font-family: 'MonkegRegular', sans-serif;
	font-size: 4vw;
	padding: 3.8vw 5vw 0 0;
	order: 2;
}

.svg-logo {
	height: 8vw;
	margin: 3% 0 0 5%;
}

.navlinks-cont {
	z-index: 999;
	position: absolute;
	margin-left: 63.5%;
}

.navlinks-cont ul {
	display: flex;
	justify-content: space-between;
	gap: 4vw;
}

.navlinks-cont ul li {
	list-style: none;
}

.navlinks-cont ul li p {
	text-decoration: none;
	font-size: 0.76vw;
	cursor: pointer;
}

.navlinks-cont ul li p:hover {
	color: #ffc0cb; 
}

/* MEDIA QUERIES */
/* iPad Pro 12.9" ( Portrait & Landscape ) */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.navbar {
		margin-top: 7%;
	}

	.name {
		display: none;
	}

	.sm-name {
		display: inline;
		min-height: 100%;
	}

	.sm-name p {
		font-size: 5.2rem;
	}

	.navlinks-cont {
		margin-left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.navlinks-cont ul li p {
		font-size: 2vw;
	}

	.navlinks-cont ul {
		gap: 5.5vw;
	}

	.svg-logo {
		display: none;
	}
}

/* iPad 1-4, Mini and Air, Pro 9.7" */
@media screen and (max-width: 768px) {
	.navbar {
		margin-top: 7%;
	}

	.name {
		display: none;
	}

	.sm-name {
		display: inline;
		min-height: 100%;
	}

	.sm-name p {
		font-size: 3.5rem;
	}

	.svg-logo {
		display: none;
	}
}

/* iPhone large screen */
@media (max-width: 480px) {
	.navbar {
		margin-top: 10%;
		overflow: hidden;
	}

	.name {
		display: none;
	}

	.sm-name {
		display: inline;
		min-height: 100%;
	}

	.sm-name p {
		font-size: 3rem;
		padding: 10px 20px;
	}

	.navlinks-cont {
		margin-left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.navlinks-cont ul li p {
		font-size: 2.3vw;
	}

	.navlinks-cont ul {
		gap: 5vw;
	}

	.svg-logo {
		display: none;
	}
}

/* iPhone Reg Screen */
@media (max-width: 375px) {
	.svg-logo {
		display: none;
	}
}
