.footer {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.marquee-work-cont {
	white-space: nowrap;
}

.marquee-work span {
	-webkit-text-stroke: 1.5px #B18E85!important;
	color: transparent;
	font-size: 15vh;
	font-family: 'MonkegRegular', sans-serif;
	letter-spacing: 3px;
	word-spacing: 2vh;
}

@keyframes bounce {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, 8px, 0);
	}
}

.idea {
	text-align: center;
	padding: 3px;
	margin-top: 2%;
}

.idea h2 {
	text-align: center;
  font-family: 'MonkegRegular', sans-serif;
  -webkit-text-stroke: 1.1px rgb(254, 189, 200, 0.8);
  color: white;
  font-size: 4em;
  word-spacing: -5px;
  line-height: 1em;
}

.idea h3 {
	margin-top: -0.3em;
	font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;
  cursor: pointer;
	position: relative;
}

.arrowdiv {
	display: inline-block;
	cursor: pointer;
}

.bottom-info-flex {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 5%;
	width: 100%;
	padding: 0 5vw;
	margin-top: 13vh;
	line-height: 4vh;
}

.copyright {
	font-size: 0.8em;
	letter-spacing: 0.2em;
	cursor: pointer;
}

.copyright span {
	font-size: 1.3em;
	vertical-align: top;
}

.slide-up {
	font-size: 2.5vh;
	cursor: pointer;
	animation: bounce 0.8s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
	z-index: 50!important;
}

.social-icons {
	overflow: hidden;
	max-width: 50vw;
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

ul li {
	list-style: none;
}

ul li a {
	width: 10vh;
	height: 10vh;
	background-color: rgb(254, 189, 200, 0.65);
	text-align: center;
	line-height: 11.5vh;
	font-size: 5vh;
	margin: 1vh;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

ul li a .icon {
	position: relative;
	color: white;
	transition: .5s;
	z-index: 3;
}

ul li a:hover .icon {
	color: rgb(254, 189, 200, 0.8);
	transform: rotateY(360deg);
}

ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	z-index: 2;
}
  
ul li a:hover:before {
	top: 0;
}

ul li:nth-child(1) a:before{
	background: black;
}

ul li:nth-child(2) a:before{
	background: #65605F;
}

ul li:nth-child(3) a:before {
	background: black;
}

ul li:nth-child(4) a:before {
	background: #0077b5;
}

																								/* MEDIA QUERIES */
/* iPad Pro 12.9" ( Portrait & Landscape ) */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	ul {
		gap: 1rem;
	}

	.arrowdiv {
		position: absolute;
		right: -2.5em;
	}
}

/* iPad 1-4, Mini and Air, Pro 9.7" */
@media screen and (max-width: 768px) {
	.social-icons {
		max-width: 85vw;
		margin-top: 15vh;
	}

	.info {
		top: 17vw;
	}

	.info h2 {
		font-size: 2vw;
		line-height: 2.8vw;
	}

	.slide-up {
		font-size: 2.8vh;
	}

	.copyright {
		font-size: 1.9vh;
	}
}

/* iPhone large screen */
@media screen and (max-width: 480px) {
	.social-icons {
		margin-top: 15%;
		max-width: 70%;
	}

	ul {
		gap: 1rem;
	}

	.idea {
		top: 10vw;
	}

	.idea h2 {
		font-size: 3.5em;
		padding: 10px;
		line-height: 1em;
		overflow: hidden;
		letter-spacing: 0.1em;
	}

	.idea h3 {
		overflow: hidden;
	}

	.arrowdiv {
		position: absolute;
		right: -5.4em;
	}

	.copyright {
		font-size: 1.3vh;
	}

	.slide-up {
		font-size: 2vh;
	}
}