* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white; /* font color */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  /* outline: 1px solid red; */
}

body {
  background: #271916;
}


/* REACT LOGO SPIN ANIMATION */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
